p{
    font-size: 12pt;
    text-align: left;    
}
.article-title{
    font-size: 16pt;
    font-weight: bold;
}
.article-info{
    width: 250px;
    margin: 30px;
}
.article-container{
    position: relative;
    padding-bottom: 50px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.project-authors{
    margin: 0;
    text-align: left;
}
.project-authors a{
    display: inline-block;
    text-decoration: underline;
    color: rgba(51,71,65,1);
    font-size: 10pt;
}
.project-authors p{
    display: inline-block;
    color: rgba(51,71,65,1);
    font-size: 10pt;
}